<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container">
    <sdb:widget name="ui.mpi.widgets.dashboard.patStats" headerClass="alert-primary" type="Panel" size="Small"
        order="50" context="org.santedb.admin.dashboard">
        <sdb:icon>fas fa-users</sdb:icon>
        <sdb:description>Patient Population Stats</sdb:description>
    </sdb:widget>

    <div class="row">
        <div class="col-12">
            <report-view report-id="'org.santedb.bi.core.reports.patient.gender'" view="'chart'" legend="true" />
        </div>
        <div class="col-12">
            <report-view report-id="'org.santedb.bi.core.reports.patient.age'" view="'chart'" legend="true" />
        </div>
    </div>

</div>