<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid p-0">
    <sdb:widget order="0" name="ui.mpi.matches.dashboard.duplicates" headerClass="alert-primary" size="Large" type="Panel"
        context="org.santedb.mpi.matches.dashboard">
        <sdb:icon>far fa-clone</sdb:icon>
        <sdb:description lang="en">Duplicate List</sdb:description>
    </sdb:widget>


    ** PLACEHOLDER - QUERY AGAINST /hdsi/Patient/mdm-candidate SHOULD BE PERFORMED HERE **
    <report-view id="patientMatchStatsReport" report-id="'org.santempi.bi.reports.matches.demographics'" view="'table'" parameters="{ 'class' : '4311e243-fcdf-43d0-9905-41fd231b1b51' }" />
</div>