<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid p-0"
    >
    <sdb:widget order="100" name="ui.mpi.matches.view.score" type="Tab" context="org.santedb.mpi.match.view">
        <sdb:icon>fas fa-star-half-alt</sdb:icon>
        <sdb:description lang="en">Score Detail</sdb:description>
    </sdb:widget>

    <div class="row" ng-if="!scopedObject">
        <div class="col">
            <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
        </div>
    </div>

    <div>
        <div class="card" ng-repeat="match in scopedObject.results track by $index">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#score{{$index}}" aria-expanded="true">
                            <i class="fas fa-file"></i> {{ match.configuration }}
                            <i class="fas fa-chevron-right"></i>
                    </button>
                </h5>
            </div>
            <div class="collapse show" id="score{{$index}}">
                <div class="card-body container-fluid">
                    <div class="row">
                        <label class="col-md-2 col-sm-6 control-label">{{ 'ui.mpi.match.class.label' | i18n }}</label>
                        <div class="col-md-4 col-sm-6">{{ 'ui.mpi.match.class.' + match.classification | i18n }}</div>
                        <label class="col-md-2 col-sm-6 control-label">{{ 'ui.mpi.match.method.label' | i18n }}</label>
                        <div class="col-md-4 col-sm-6">{{ 'ui.mpi.match.method.' + match.method | i18n }}</div>
                        <label class="col-md-2 col-sm-6 control-label">{{ 'ui.mpi.match.score.label' | i18n }}</label>
                        <div class="col-md-4 col-sm-6">{{ match.score }}</div>
                        <label class="col-md-2 col-sm-6 control-label">{{ 'ui.mpi.match.strength.label' | i18n }}</label>
                        <div class="col-md-4 col-sm-6">{{ match.strength * 100 | number: 0 }}%</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- #include virtual="~/views/matches/partials/matchTable.html" -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>