<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:widget order="0" name="ui.mpi.matches.config.general.properties" type="Panel" altViews="Edit" size="Large"
        context="org.santedb.mpi.matches.config.general">
        <sdb:icon>fas fa-info-circle</sdb:icon>
        <sdb:description lang="en">General</sdb:description>
    </sdb:widget>

    <div ng-if="panel.view != 'Edit'" class="container">
        <div class="form-group row">
            <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.id' | i18n }} <hint-popover hint-title="ui.model.matchConfiguration.id" /></label>
            <div class="col-sm-12 col-md-9">
                {{ scopedObject.id }}
                <span ng-if="scopedObject.meta.version" class="ml-2">
                    rev. {{ scopedObject.meta.version }}
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.meta.createdBy' | i18n
                }} </label>
            <div class="col-sm-12 col-md-9">
                <i class="fas fa-user"></i> {{ scopedObject.meta.createdBy}} @ <i class="fas fa-clock"></i> {{
                scopedObject.meta.creationTime | extDate: 'f' }}
            </div>
        </div>
        <div class="form-group row" ng-if="scopedObject.meta.updatedTime">
            <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.meta.updatedBy' | i18n
                }}</label>
            <div class="col-sm-12 col-md-9">
                <i class="fas fa-user"></i> {{ scopedObject.meta.updatedBy}} @ <i class="fas fa-clock"></i> {{
                scopedObject.meta.updatedTime | extDate: 'f' }}
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.target' | i18n }} <hint-popover hint-title="ui.model.matchConfiguration.target" /></label>
            <div class="col-sm-12 col-md-9">
                <span class="badge badge-info mr-1" ng-repeat="t in scopedObject.target">
                    <i class="fas fa-search"></i> {{t.resource}}
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.meta.tags' | i18n }} <hint-popover hint-title="ui.model.matchConfiguration.meta.tags" /></label>
            <div class="col-sm-12 col-md-9">

                <table class="table table-striped table-responsive">
                    <tr ng-repeat="tk in scopedObject.meta.tags ">
                        <td>{{ tk.key }}</td>
                        <td>{{tk.value}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group row" ng-if="scopedObject.description">
            <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.description' | i18n
                }}</label>
            <div class="col-sm-12 col-md-9">
                <pre>{{ scopedObject.description }}</pre>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="MpiConfigurationEditController">
        <form name="panel.editForm" ng-submit="save(panel.editForm)" method="dialog" ng-if="panel.view == 'Edit'"
            novalidate="novalidate">
            <div class="form-group row">
                <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.id' | i18n }} <hint-popover hint-title="ui.model.matchConfiguration.id" /></label>
                <div class="col-sm-12 col-md-9">
                    <input ng-readonly="scopedObject.uuid" type="text" pattern="^[A-Za-z][A-Za-z0-9\.-]{1,}$"
                        maxlength="128" name="txtId" ng-model="scopedObject.id" class="form-control"
                        required="required" />
                    <div ng-show="panel.editForm.txtId.$error['required']" class="alert-danger">
                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                    <div ng-show="panel.editForm.txtId.$error['pattern']" class="alert-danger">
                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern.ext' | i18n : { pattern: 'A-Z
                        a-z 0-9 . -'} }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.target' | i18n
                    }} <hint-popover hint-title="ui.model.matchConfiguration.target" /></label>
                <div class="col-sm-12 col-md-9">
                    <entity-search name="txtTarget" multiple="multiple" required="required" type="'Concept'"
                        ng-model="scopedObject.target" search-field="'name.value'" value-property="'resource'"
                        key="'mnemonic'" filter="{ 'conceptSet' : [  '4E6DA567-0094-4F23-8555-11DA499593AF'] }">
                    </entity-search>
                    <div ng-show="panel.editForm.txtTarget.$error['required']" class="alert-danger">
                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.meta.tags' | i18n
                    }} <hint-popover hint-title="ui.model.matchConfiguration.meta.tags" /></label>
                <div class="col-sm-12 col-md-9">
                    <table class="table table-striped">
                        <tr ng-repeat="tk in scopedObject.meta.tags ">
                            <td>{{ tk.key }}</td>
                            <td><input type="text" class="form-control" ng-model="tk.value" maxlength="32" /></td>
                            <td><button type="button" class="btn btn-danger" ng-click="removeTag(tk.key)"><i
                                        class="fas fa-times"></i><span class="d-none d-md-inline pl-1">{{
                                        'ui.action.remove'
                                        | i18n }}</span></button></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" ng-model="newTag.key" maxlength="32" /></td>
                            <td><input type="text" class="form-control" ng-model="newTag.value" maxlength="32" /></td>
                            <td><button ng-disabled="!newTag.key || !newTag.value" type="button" class="btn btn-success"
                                    ng-click="addTag(newTag)"><i class="fas fa-plus"></i><span
                                        class="d-none d-md-inline pl-1">{{ 'ui.action.add' | i18n }}</span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.matchConfiguration.description' | i18n
                    }}</label>
                <div class="col-sm-12 col-md-9">
                    <textarea class="form-control" ng-model="scopedObject.description"
                        placeholder="{{ 'ui.model.matchConfiguration.description.hint' | i18n }}"
                        maxlength="4096"></textarea>
                    <span class="float-right">{{ 4096 - scopedObject.description.length }}
                        {{ 'ui.common.charsRemain' | i18n }}</span>
                </div>
            </div>
        </form>
    </div>
</div>