<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid p-0"
    oc-lazy-load="{ name: 'MpiRegistrationEventController', files: ['/org.santedb.smpi/controllers/widgets/events.js' ] }">
    <sdb:widget order="15" name="org.santedb.widget.patient.reg" headerClass="bl-light" size="Medium" type="Panel"
        context="org.santedb.patient.demographics">
        <sdb:icon>fas fa-users</sdb:icon>
        <sdb:description lang="en">Registration Events</sdb:description>
        <sdb:guard>scopedObject.determinerConcept != '6b1d6764-12be-42dc-a5dc-52fc275c4935' || scopedObject.tag['$generated']</sdb:guard>
    </sdb:widget>


    <div ng-controller="MpiRegistrationEventController">
        <div ng-if="!events">
            <i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}
        </div>
        <div ng-if="events.length == 0">
            <i class="fas fa-info-circle"></i> {{ 'ui.table.empty' | i18n }}
        </div>
        <div class="accordion" id="regevtaccordion">
            <div class="card card-default" ng-repeat="evt in events track by $index">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                        data-target="#evt{{$index}}" aria-expanded="true">{{ evt.classConceptModel | concept }} <i class="fa fa-chevron-right"></i></button>
                    </h2>
                </div>
                <div class="collapse show" data-parent="#regevtaccordion" id="evt{{$index}}">
                    <div class="card-body container-fluid">
                        <div class="row">
                            <label class="col-md-3 col-xs-12 control-label">{{ 'ui.model.act.actTime' | i18n }}</label>
                            <div class="col-md-9 col-xs-12">{{ evt.actTime | extDate }}</div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-12 control-label">{{ 'ui.model.act.typeConcept' | i18n }}</label>
                            <div class="col-md-9 col-xs-12">{{ evt.typeConceptModel | concept }}</div>
                        </div>
                        <div class="row" ng-repeat="(typ, ptcpt) in evt.participation">
                            <label class="col-md-3 col-xs-12 control-label">{{ 'ui.model.act.participation.' + typ | i18n }}</label>
                            <div class="col-md-9 col-xs-12">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="p in ptcpt">
                                        {{ p.playerModel.name | name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>