<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid">
    <sdb:script static="false">~/controllers/patients/search.js</sdb:script>
    <sdb:state name="santedb-admin.mpi.patients.search">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.2.0</sdb:demand>
        <sdb:url>?{q}</sdb:url>
        <sdb:view>
            <sdb:controller>MpiPatientSearchController</sdb:controller>
            <sdb:title lang="en">Search</sdb:title>
        </sdb:view>
    </sdb:state>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="m-0">

                        <button class="btn btn-link p-0 collapse-indicator" type="button" data-toggle="collapse"
                            data-target="#searchParameters" aria-expanded="true">
                            <i class="fas fa-search-plus"></i>
                            {{ 'ui.mpi.patient.search.parameters' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button></h2>
                </div>
                <div class="collapse show" id="searchParameters" data-parent="#searchAccordion">
                    <form class="form" ng-submit="searchMpi(searchForm)" name="searchForm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'ui.mpi.patient.search.parameters.name' | i18n }}</th>
                                    <th>{{ 'ui.mpi.patient.search.parameters.operator' | i18n }}</th>
                                    <th>{{ 'ui.mpi.patient.search.parameters.value' | i18n }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="s in search track by $index">
                                    <td>
                                        <select class="form-control" ng-model="s.parm" required="required"
                                            ng-change="s.val = ''">
                                            <option value="any">
                                                {{ 'ui.mpi.patient.search.parameters.any' | i18n }}</option>
                                            <option value="name.component[Given].value">
                                                {{ 'ui.mpi.patient.search.parameters.givenName' | i18n }}</option>
                                            <option value="name.component[Family].value">
                                                {{ 'ui.mpi.patient.search.parameters.familyName' | i18n }}</option>
                                            <option value="identifier.value">
                                                {{ 'ui.mpi.patient.search.parameters.identifier' | i18n }}</option>
                                            <option value="address">
                                                {{ 'ui.mpi.patient.search.parameters.addressSearch' | i18n }}</option>
                                            <option value="genderConcept">
                                                {{ 'ui.mpi.patient.search.parameters.gender' | i18n }}</option>
                                            <option value="dateOfBirth">
                                                {{ 'ui.mpi.patient.search.parameters.dateOfBirth' | i18n }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="s.op" required="required">
                                            <option value="eq">{{ 'ui.operator.eq' | i18n }}</option>
                                            <option value="ne">{{ 'ui.operator.ne' | i18n }}</option>
                                            <option value="similar" ng-if="s.data.type == 'string'">
                                                {{ 'ui.operator.similar' | i18n }}</option>
                                            <option value="soundslike" ng-if="s.data.type == 'string'">
                                                {{ 'ui.operator.soundslike' | i18n }}</option>
                                        </select>
                                    </td>
                                    <td colspan="{{ $index == 0 ? 2 : 1}}">
                                        <div ng-switch="s.data.type">
                                            <input class="form-control" ng-model="s.val" required="required" type="text"
                                                ng-switch-when="string" />
                                            <input class="form-control" ng-model="s.val" max="{{ s.data.max }}"
                                                required="required" type="date" ng-switch-when="date" />
                                            <select class="form-control" ng-model="s.val" ng-switch-when="list"
                                                required="required">
                                                <option ng-repeat="o in s.data.list" value="{{o.id}}">{{ o | concept }}
                                                </option>
                                            </select>
                                            <div ng-switch-when="entity">
                                                <entity-search class="form-control" ng-model="s.val" required="required"
                                                    type="s.data.entity" filter="s.data.filter"
                                                    search-field="s.data.search" />
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="$index &gt; 0">
                                        <button type="button" class="btn btn-danger"
                                            ng-click="search.splice($index, 1)"><i class="fas fa-minus-circle"></i>
                                            {{ 'ui.action.remove' | i18n }}</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <div class="float-right btn-group">
                                            <button type="button" class="btn btn-success"
                                                ng-click="search.push({ 'parm' : 'name.component.value', 'op': 'eq'})"><i
                                                    class="fas fa-plus-circle"></i>
                                                {{ 'ui.action.add' | i18n }}</button>
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>
                                                {{ 'ui.action.search' | i18n }}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="filter">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0"><i class="fas fa-table"></i> {{ 'ui.mpi.patient.search.results' | i18n }}</h5>
                </div>
            </div>
                <entity-table 
                    type="Patient"
                    id="MpiPatientSearchResultsTable"
                    can-filter="false"
                    can-size="false"
                    default-query="filter"
                    i18n-prefix="'ui.model.patient.'"
                    render="{ 'name': renderName, 'dateOfBirth': renderDob, 'genderConcept': renderGender, 'identifier': renderIdentifier }"
                    properties="[ 'name', 'dateOfBirth', 'genderConcept', 'identifier', 'creationTime' ]"
                    sort="{ 'name' : 'name.component.value', 'dateOfBirth' : 'dateOfBirth', 'genderConcept' : 'genderConcept', 'identifier' : 'identifier.value' , 'timestamp' : 'creationTime' }"
                    item-actions="[ { name: 'view', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.2.3', sref: 'santedb-admin.mpi.patients.view', className: 'btn-primary', icon: 'fas fa-notes-medical' } ]"></entity-table>
        </div>
    </div>

</div>