<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="row">
        <label class="col-md-3 control-label">{{ 'ui.model.entity.name' | i18n }}</label>
        <div class="col-md-9">
            <ul class="list-group">
                <li class="d-flex align-items-center" ng-repeat="(n, name) in rel.targetModel.name">
                    {{ name | name }} <span class="badge badge-light">{{ name.useModel | concept }}</span></li>
            </ul>
        </div>
    </div>
    <div class="row">

        <label class="col-md-3 control-label">{{ 'ui.model.entity.dateOfBirth' | i18n }}</label>
        <div class="col-md-9" ng-if="rel.targetModel.dateOfBirth">
            {{ rel.targetModel.dateOfBirth | extDate: rel.targetModel.dateOfBirthPrecision }}
            <span ng-if="!rel.targetModel.deceasedDate">
                (
                {{ rel.targetModel.dateOfBirth | age }}
                )</span>
        </div>
        <div class="col-md-9" ng-if="!rel.targetModel.dateOfBirth">
            {{ 'ui.unknown' | i18n}}
        </div>
    </div>
    <div class="row">

        <div ng-if="rel.targetModel.deceasedDate" class="row">
            <label class="col-md-3 control-label">{{ 'ui.model.patient.deceased' | i18n }}</label>
            <div class="col-md-9 ">
                {{ rel.targetModel.deceasedDate | extDate: rel.targetModel.deceasedDatePrecision }}
                ( {{ rel.targetModel.dateOfBirth | age: 'y':rel.targetModel.deceasedDate }} )
            </div>
        </div>
    </div>
    <div class="row">

        <label class="col-md-3 control-label">{{ 'ui.model.patient.genderConcept' | i18n }}</label>
        <div class="col-md-9" ng-if="rel.targetModel.genderConceptModel">
            <i class="fas"
                ng-class="{ 'fa-male' : rel.targetModel.genderConceptModel.mnemonic == 'Male' , 'fa-female' :  rel.targetModel.genderConceptModel.mnemonic == 'Female' }"></i>
            {{ rel.targetModel.genderConceptModel | concept }}
        </div>
        <div class="col-md-9" ng-if="!rel.targetModel.genderConceptModel">
            {{ 'ui.unknown' | i18n}}
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 control-label">{{ 'ui.model.entity.address' | i18n }}</label>
        <div class="col-md-9">
            <div ng-if="rel.targetModel.address">
                <ul class="list-group">
                    <li class="d-flex align-items-center" ng-repeat="(n, address) in rel.targetModel.address">
                        {{ address | address }} <span class="badge badge-light">{{ address.useModel | concept }}</span>
                    </li>
                </ul>
            </div>
            <div ng-if="!rel.targetModel.address">
                {{ 'ui.unknown' | i18n }}
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 control-label">{{ 'ui.model.entity.telecom' | i18n }}</label>
        <div class="col-md-9" ng-repeat="(k,tel) in rel.targetModel.telecom track by $index"
            ng-class="{ 'offset-md-3': $index > 0 }">
            <ul class="list-group">
                <li class="d-flex align-items-center" ng-repeat="i in tel">
                    <a href="{{i.value}}" target="_blank">{{i.value}} <span class="badge badge-pill badge-info">{{
                            i.useModel | concept }}</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="rel.targetModel.vipStatusModel" class="row text-light bg-info">
        <label class="col-sm-3 col-xs-12 control-label">{{ 'ui.model.person.vipStatus' | i18n }}</label>
        <div class="col-sm-9 col-xs-12 ">
            {{ rel.targetModel.vipStatusModel | concept }}
        </div>
    </div>

    <div ng-if="rel.targetModel.occupationModel" class="row">
        <label class="col-sm-3 col-xs-12 control-label">{{ 'ui.model.person.occupation' | i18n }}</label>
        <div class="col-sm-9 col-xs-12 ">
            {{ rel.targetModel.occupationModel | concept }}
        </div>
    </div>

    <div ng-if="rel.targetModel.nationalityModel" class="row">
        <label class="col-sm-3 col-xs-12 control-label">{{ 'ui.model.person.nationality' | i18n }}</label>
        <div class="col-sm-9 col-xs-12 ">
            {{ rel.targetModel.nationalityModel | concept }}
        </div>
    </div>
</div>