<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet"
    oc-lazy-load="{ name: 'MasterDataManagementController', files: ['/org.santedb.smpi/controllers/widgets/mdmWidget.js'] }">
    <sdb:widget name="org.santedb.widget.patient.mdm" type="Tab" order="50" context="org.santedb.patient">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.6</sdb:demand>
        <sdb:icon>fas fa-database</sdb:icon>
        <sdb:description lang="en">Master Data Management Tab</sdb:description>
        <sdb:guard>scopedObject.tag['$mdm.type'][0] != 'L' &amp;&amp; scopedObject.tag['$generated'][0] == 'true'</sdb:guard>
    </sdb:widget>
  
    
    <div class="modal" id="candidateDetailModal" tabindex="1" role="dialog" aria-labelledby="candidateDetailModalTitle">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="candidateDetailModalTitle">
                        <i class="fa fa-fw fa-clone"></i> {{ 'ui.mpi.match.detail.title' | i18n }}
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                </div>
                <div class="modal-body" ng-if="!scopedObject.candidateObject">
                    <i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}
                </div>
                <div class="modal-body" ng-if="scopedObject.candidateObject">
                    
                    <div class="accordion" id="matchAccordion">
                        <div class="card" ng-repeat="match in scopedObject.candidateObject.results track by $index">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                                            data-target="#score{{$index}}" aria-expanded="true">
                                            <i class="fas fa-file"></i> {{ match.configuration }} (<span class="badge" ng-class="{ 'badge-success' : match.classification == 2, 'badge-info' : match.classification == 1, 'badge-dark' : match.classification == 0 }">{{ 'ui.mpi.match.class.' + match.classification | i18n }}</span> - {{ match.strength * 100 | number: 0 }}%)
                                            <i class="fas fa-chevron-right"></i>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" ng-class="{'show': $index == 0 }" id="score{{$index}}" data-parent="#matchAccordion">
                                            <!-- #include virtual="~/views/matches/partials/matchTable.html" -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        <i class="fa fa-times"></i> {{ 'ui.action.close' | i18n }}</button>
                </div>
            </div>
        </div>
    </div>

    <widget-panels context-name="'org.santedb.mdm'" scoped-object="scopedObject"/>

</div> 