<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid">
    <sdb:script static="false">~/controllers/patients/search.js</sdb:script>
    <sdb:script static="true">~/js/mpi.js</sdb:script>

    <sdb:state name="santedb-admin.mpi.patients.advancedSearch">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.2.0</sdb:demand>
        <sdb:url>/adv?{q}</sdb:url>
        <sdb:view>
            <sdb:controller>MpiPatientSearchController</sdb:controller>
            <sdb:title lang="en">Power Search</sdb:title>
        </sdb:view>
    </sdb:state>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="m-0">

                        <button class="btn btn-link p-0 collapse-indicator" type="button" data-toggle="collapse"
                            data-target="#searchParameters" aria-expanded="true">
                            <i class="fas fa-search-plus"></i>
                            {{ 'ui.mpi.patient.advSearch.parameters' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="searchParameters" data-parent="#searchAccordion">
                    <form class="form" ng-submit="searchMpi(searchForm, true)" name="searchForm">

                        <div class="row" ng-repeat="s in search.custom track by $index">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend" ng-if="$index &gt; 0">
                                        <span class="input-group-text">and</span>
                                    </div>
                                    <hdsi-expression required="true" class="form-control" focal-type="'Patient'" ng-model="s.filter" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-expanded="false">{{ s.op || 'equal' }}</button>
                                        <div class="dropdown-menu">
                                            <button type="button" ng-click="s.op = 'equal'"
                                                class="dropdown-item">equal</button>
                                            <button type="button" ng-click="s.op = 'not-equal'"
                                                class="dropdown-item">not-equal</button>
                                            <button type="button" ng-click="s.op = 'less-than'" class="dropdown-item"
                                                ng-if="s.filter.type == 'DateTime' || s.filter.type == 'DateTimeOffset' || s.filter.type == 'Int32' || s.filter.type == 'Decimal'">
                                                less-than</button>
                                            <button type="button" ng-click="s.op = 'less-than-equal'"
                                                class="dropdown-item"
                                                ng-if="s.filter.type == 'DateTime' || s.filter.type == 'DateTimeOffset' || s.filter.type == 'Int32' || s.filter.type == 'Decimal'">
                                                less-than-equal</button>
                                            <button type="button" ng-click="s.op = 'greater-than'" class="dropdown-item"
                                                ng-if="s.filter.type == 'DateTime' || s.filter.type == 'DateTimeOffset' || s.filter.type == 'Int32' || s.filter.type == 'Decimal'">
                                                greater-than</button>
                                            <button type="button" ng-click="s.op = 'greater-than-equal'"
                                                class="dropdown-item"
                                                ng-if="s.filter.type == 'DateTime' || s.filter.type == 'DateTimeOffset' || s.filter.type == 'Int32' || s.filter.type == 'Decimal'">
                                                greater-than-equal</button>
                                            <button type="button" ng-click="s.op = 'approx'" class="dropdown-item"
                                                ng-if="s.filter.type == 'String'">approx</button>
                                        </div>
                                    </div>

                                    <div class="form-control">
                                        <select required="true" class="form-control" style="border:none" ng-model="s.value" ng-if="s.filter.values">
                                            <option ng-repeat="(k,v) in s.filter.values" value="{{k}}">{{v}}</option>
                                        </select>
                                        <div ng-switch="s.filter.type" ng-if="!s.filter.values">
                                            <input required="true" autocomplete="__away" type="text" style="border:none" class="form-control"
                                                ng-switch-when="Guid" ng-model="s.value" />
                                            <input required="true" autocomplete="__away" style="border:none" type="text" class="form-control"
                                                ng-switch-when="String" ng-model="s.value" />
                                            <input required="true" autocomplete="__away" style="border:none" type="date" class="form-control"
                                                ng-switch-when="DateTime" ng-model="s.value" />
                                            <input required="true" autocomplete="__away" style="border:none" type="datetime" class="form-control"
                                                ng-switch-when="DateTimeOffset" ng-model="s.value" />
                                            <input required="true" autocomplete="__away" style="border:none" type="number" class="form-control"
                                                ng-switch-when="Decimal" ng-model="s.value" />
                                            <input required="true" autocomplete="__away" style="border:none" type="number" class="form-control"
                                                ng-switch-when="Int32" ng-model="s.value" />
                                            <input required="true" type="checkbox" class="form-control" ng-switch-when="Boolean"
                                                ng-model="s.value" />
                                            <div ng-switch-default="ng-switch-default">

                                                <entity-search required="true"  style="border:none" type="s.filter.type" ng-if="s.filter.type"
                                                    ng-model="s.value" class="form-control" />
                                                <input required="true"  type="text" style="border:none" class="form-control" ng-model="s.value"
                                                    ng-if="!s.filter.type" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group-append" ng-if="search.custom.length &gt; 1">
                                        <button type="button" class="btn btn-danger"
                                            ng-click="search.custom.splice($index, 1)"><i class="fas fa-minus-circle"></i>
                                            {{ 'ui.action.remove' | i18n }}</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="float-right btn-group">
                                    <button type="button" class="btn btn-success" ng-disabled="!searchForm.$valid"
                                        ng-click="search.custom.push({ 'filter' : '' })"><i
                                            class="fas fa-plus-circle"></i>
                                        {{ 'ui.action.add' | i18n }}</button>
                                    <button type="submit" class="btn btn-primary" ng-disabled="!searchForm.$valid"><i class="fas fa-search"></i>
                                        {{ 'ui.action.search' | i18n }}</button> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" ng-if="filter">
            <h2>{{ 'ui.mpi.patient.search.results' | i18n }}</h2>
            <entity-table type="Patient" id="MpiPatientSearchResultsTable" can-filter="false" default-query="filter"
                i18n-prefix="'ui.model.patient.'" render="{ 'demographics': renderDemographics }"
                properties="[ 'demographics' ]"
                item-actions="[ { name: 'view', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.2.3', sref: 'santedb-admin.mpi.patients.view', className: 'btn-primary', icon: 'fas fa-arrow-right' } ]">
            </entity-table>
        </div>
    </div>

</div>