<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="true">~/js/mpi.js</sdb:script>
    <sdb:script static="false">~/controllers/matches/view.js</sdb:script>
    <sdb:state name="santedb-admin.mpi.matches.view">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.6.1</sdb:demand>    
        <sdb:url>/view?{candidateId}&amp;{sourceId}&amp;{targetId}&amp;{configurationId}</sdb:url>
        <sdb:view>
            <sdb:controller>MpiMatchViewController</sdb:controller>
            <sdb:title lang="en">View Match</sdb:title>
        </sdb:view>
    </sdb:state>
</div>